@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");

:root {
  --main-color: #6c5ce7;
  --secondary-color: #a29bfe;
  --lighter-color: #e0e0e7;
  --light-color: #b0b0c0;
  --dark-color: #52505e;
  --font-smaller: 14px;
  --font-bigger: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  background: var(--dark-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 8px solid var(--lighter-color);
  border-radius: 15px;
  background-color: #f2f0fb;
}

.form-box .progress {
  position: relative;
  padding: 1em;
}

.logo {
  font-size: 1.75em;
  font-weight: 800;
  color: var(--dark-color);
  padding: 40px 48px;
  text-align: center;
}

.logo span {
  color: var(--main-color);
}

.progress ul.progress-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.progress ul.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}

.progress ul.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border-radius: 50%;
  background-color: var(--lighter-color);
  z-index: 1;
}

.progress ul.progress-steps li.active > span {
  color: white;
  background-color: var(--main-color);
  border: 4px solid var(--secondary-color);
  z-index: 1;
}

.progress ul.progress-steps li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%; /* Center the line vertically within the li */
  left: 40px; /* Adjust as needed for line start position */
  transform: translateY(-50%); /* Center line vertically */
  width: 65px; /* Adjust width to control the line length */
  height: 2px; /* Make the line horizontal */
  background-color: var(--lighter-color);
}

.progress ul.progress-steps li p span {
  font-size: var(--font-smaller);
  color: var(--light-color);
  display: none;
}

.progress ul li p {
  position: absolute;
  top: -2em;
  font-size: 12px;
}

.form-box form {
  width: 100%;
  padding: 3em 1em;
  background-color: white;
  border-radius: 30px 30px 15px 15px;
}

form > div {
  max-width: 400px;
  margin: 0 auto;
}

form > div p {
  color: var(--light-color);
  margin-bottom: 2em;
}

form > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

form :where(input, select) {
  height: 40px;
  padding: 0 1em;
  border-radius: 7px;
  outline-color: var(--secondary-color);
  border: 1px solid var(--lighter-color);
  background-color: transparent;
}

form label {
  font-size: var(--font-smaller);
  margin-bottom: 0.5em;
  font-weight: 600;
}

form .grouping {
  display: flex;
}

form .grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}

form .checbox input {
  height: auto;
}

form > div:not(.btn-group) {
  display: none;
  -webkit-animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

form > div.active {
  display: block;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}

.btn-group [class*="btn-"] {
  background-color: var(--main-color);
  color: white;
  padding: 1em 2.5em;
  border: 4px solid var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, border-color 0.3s ease-out;
  transition: background-color 0.3s, border-color 0.3s ease-out;
}

.btn-group [class*="btn-"]:disabled {
  background-color: var(--light-color);
  border-color: var(--lighter-color);
  cursor: text;
}

.btn-group [class*="btn-"]:hover:not(:disabled) {
  background-color: var(--dark-color);
  border-color: var(--light-color);
}

.btn-group .btn-submit,
.form-three.active ~ .btn-group .btn-next {
  display: none;
}

.form-three.active ~ .btn-group .btn-submit {
  display: block;
}

.form-three.active ~ .btn-group {
  justify-content: space-between;
}

::placeholder {
  color: var(--light-color);
}

/* Login Page CSS */

 .Login {
  margin-top: 20px;
}

.Login a {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 92px;
  background: var(--main-color);
  padding: 0;
  border: 4px solid var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
} 
.login-prompt {
  margin-top: 15px;
  font-size: 16px;
  color: var(--dark-color);
  text-align: center; /* Center the text for smaller screens */
}

.login-prompt a {
  color: var(--main-color);
  font-weight: bold;
  transition: color 0.3s;
}

.login-prompt a:hover {
  color: var(--secondary-color);
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
  width: 100%;
  background-color: var(--primary-color); /* Example background color */
}

@media screen and (min-width: 768px) {
  .form-box {
    flex-direction: row;
  }
  .form-box .progress {
    flex: 1 0 35%;
    min-width: 300px;
    padding: 3em;
  }
  .logo {
    margin: -48px -48px 48px;
  }
  .progress ul.progress-steps {
    flex-direction: column;
    gap: 0px;
  }
  .progress ul.progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50px;
    width: 2px;
    height: 75px;
    background-color: var(--lighter-color);
  }
  .form-box form {
    padding: 3em;
    border-radius: 0 15px 15px 0;
  }
  .progress ul li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }
  .progress ul.progress-steps li p span {
    display: block;
  }
}


