:root {
    --main-color: #6c5ce7;
    --secondary-color: #a29bfe;
    --lighter-color: #e0e0e7;
    --light-color: #b0b0c0;
    --dark-color: #52505e;
    --input-bg: #f2f0fb;
    --input-border: #ddd;
    --font-smaller: 14px;
    --font-bigger: 20px;
}

/* Common Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Login Page Specific Styles */
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em;
    border: 8px solid var(--lighter-color);
    border-radius: 15px;
    background-color: var(--input-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-title {
    font-size: 1.75em;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 1em;
}

.login-form input {
    width: 100%;
    height: 48px;
    padding: 0 1em;
    border-radius: 25px;
    border: 2px solid var(--input-border);
    background-color: white;
    font-size: 16px;
    outline-color: var(--secondary-color);
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: var(--main-color);
}
.signup-prompt {
    margin-top: 10px;
    font-size: 16px;
    color: var(--dark-color);
}

.signup-prompt a {
    color: var(--main-color);
    font-weight: bold;
    transition: color 0.3s;
}

.signup-prompt a:hover {
    color: var(--secondary-color);
}


.btn-login {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: var(--main-color);
    border: 4px solid var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background 0.3s, border-color 0.3s;
}

.btn-login:hover {
    background: var(--secondary-color);
    border-color: var(--main-color);
}

@media screen and (min-width: 768px) {
    .login-form {
        padding: 3em;
    }
}
